.rich-text {
  z-index: 1;
  background-image:  repeating-radial-gradient(circle at 0 0, transparent 0, #36778e 18px), repeating-linear-gradient(#24647c, #0d4155);
  background-color: #36778e;
}

.rich-text__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 990px) {
  .rich-text__wrapper {
    flex-direction: row;
  }
}

.rich-text:not(.rich-text--full-width) .rich-text__wrapper {
  margin: auto;
  width: calc(100% - 8rem / var(--font-body-scale));
}

.rich-text__blocks {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
}

@media screen and (min-width: 990px) {
  .rich-text__blocks {
    max-width: 65rem;
    align-items: flex-start;
    padding-left: 10%;
  }
}

.rich-text__blocks * {
  overflow-wrap: break-word;
}

.rich-text__blocks > * {
  margin-top: 0;
  margin-bottom: 0;
}

.rich-text__blocks > * + * {
  margin-top: 2rem;
}

.rich-text__blocks > * + a {
  margin-top: 3rem;
}

.rich-text__buttons {
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  max-width: 45rem;
  word-break: break-word;
}


@media screen and (min-width: 990px) {
  .rich-text__buttons {
    justify-content: flex-start;
  }
}

.rich-text__heading {
  font-size: 20px;
  letter-spacing: 2px;
}

.rich-text__caption {
  font-size: 25px;
  letter-spacing: 3px;
}